/**
Miskat Mahmud 
ID: 40250110
SOEN 287- Winter 2023
Concordia University
Date: 10 February 2023 
*/
.nav a{
color: black;
text-align: left;
padding: 30px 16px;
text-decoration: none;
display: block;  
}
.nav a:hover{
background-color: #5a5858;
color: white;
}
.nav a.active{
background: #58c665;
color: white;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
}
li a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}