/**
Miskat Mahmud 
ID: 40250110
SOEN 287- Winter 2023
Concordia University
Date: 10 February 2023 
*/


div{
padding: 5px;
border: 2px;
border-color: green;
border-style: dotted;
width: 200px;
height: 200px;
text-align: center;
}



#first{
position: absolute;
top:0rem;
left:0rem;
}
.red{
color: red;
font-weight: bold;
}
#second{
position: absolute;
top:10rem;
left:0rem;
}


